body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imgSize{
  width: 200px;
}


.table-container {
  max-height: 500px; /* Adjust the height as needed */
  overflow-y: auto;
}

.table-container::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Additional styles for the table */
.table {
  margin-bottom: 0; /* Remove margin to fit the height */
}

.table thead th {
  position: sticky;
  top: 0;
  background: #f8f9fa;
  z-index: 1;
}

.navBg{
  background-color: #dfdddd;
}




